<head>
    <title>Tareas Pavón</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body class="text-center">
    
    <h1>Bienvenido a las Tareas Pavón</h1>
    <form action="{% url 'list_tasks' %}" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <!-- <h4>Título</h4>
        <input type="titulo" required>
        <h4>Descripción</h4>
        <input type="descripcion" required>
        <p>¿Has hecho la tarea?</p>
        <input type="checkbox"> -->
        <button type="submit">Crear Tarea</button>
    </form>
    <div>
        <h1><a href="/">Tareas Pavón</a></h1>
    </div>

{% for task in tasks %}


    <div>
        <p> publicado: {{ task.fecha_creacion }}</p>
        <h2><a href="">{{ task.title }}</a></h2>
        <p>{{ task.descripcion|linebreaksbr }} {{ models.hecho|yesno:"Hecho,Pendiente" }}</p>
    </div>


{% endfor %}
</body>